@import '../../assets/styles/vars';

$header-height: 50px;
header.app-header {
  padding: 0 $padding-mobile;
  @media (min-width: $min-width-desktop) {
    padding: 0 $padding-desktop;
  }
  height: $header-height;
  overflow: hidden;
  background: linear-gradient(270deg, #8A206F 0.15%, #C00E4F 100%);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  > .__content{
    max-width: $max-width-page;
    margin: 0 auto;
    display: flex;
    align-items: center;
    > .__logo {
      display: block;
      height: 37px;
      > img {
        width: 37px;
        height: 37px;
      }
      &:hover{
        opacity: 0.8;
      }
    }
    > .__app-name {
      margin: 0;
      flex-grow: 1;
      height: $header-height;
      color: #ffffff;
      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 1.8rem;
      line-height: 2.1rem;
      display: flex;
      align-items: center;
      margin-left: 1.7rem;
      &:hover, &:active, &:visited, &:focus {
        text-decoration: none;
      }
      &:hover {
        opacity: 0.8;
      }
    }
    > .__user-info{
      display: flex;
      align-items: center;
      > .__user-name {
        margin: 0 4px 0 0;
        height: $header-height;
        display: flex;
        align-items: center;
        text-align: right;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 1.4rem;
        line-height: 1.6rem;
    
        color: #FFFFFF;
      }
    }
  }
}
