@import './assets/styles/vars';

.app-squad-management-tool {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  > .app-content{
    flex-grow: 1;
    padding: $padding-mobile $padding-mobile 0;
    @media (min-width: $min-width-desktop) {
      padding: $padding-desktop $padding-desktop 0;
    }
    display: flex;
    > .__content{
      flex-grow: 1;
      max-width: $max-width-page;
      margin: 0 auto;
      display: flex;
    }
  }
}
