$max-width-page: 1336px;
$padding-mobile: 15px;
$padding-desktop: 40px;
$min-width-desktop: 576px;

$color-text: #353535;
$background-color-body: #F7F3F7;
$color-anchor: #B04684;
$color-anchor-focus: #e92999;
